<% @movies.each do |movie| %>
    <li> <%=movie.title%>-<%=movie.rating%>(<%= total_gross(movie) %>
)
<% if movie.description %>
<p><<%= truncate(movie.description, length: 40, separator: ' ') %>
 <br> Released On <% year_of(movie)%></p>
</li>
<%end%>
Found no changes, using resolution from the lockfile
<%= link_to(movie.title, movie_path(movie)) %>
<%end%>
